# Go
*.exe
*.test
*.out

# Local builds
/breyta
/dist/*
!/dist/tools/
!/dist/tools/parinfer-rust/
!/dist/tools/parinfer-rust/**
!/dist/tools/parinfer-rust/windows/amd64/parinfer-rust.exe

# Local state
**/state.json
/.gocache/
/tmp/
/go-build-cache/
/.gopath/
/_cache/
/bin/
/.tmp/
.DS_Store
